@charset "UTF-8";

body{
    background-image: url(imagens/pexels-pixabay-373543.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
   
     }

header > h1 {
    font: bolder 25pt arial ;
    color: rgb(119, 25, 25);
 
}

/*header.principal {
    width: 100vw;
    height: 350px;
    padding: 10px;
    text-align: center;
    color: white;
    position: absolute;
    background-size: cover;
    background-position: center center;
}*/



div#secundario{
    background: url(imagens/perfil.jpg)no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    left: 550px;
    position: absolute;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    
}

div#social{
    width: 200px;
    position: relative;
    top: 190px;
    left: 1050px;
}
div#social img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}
div#social img:hover{
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
    transition: transform .5s, border 1s;

}

div#cv{
        position: relative;
    color: rgb(95, 24, 24);
    background-color: darkgoldenrod;
    border-radius: 10px;
    font: normal 15pt arial;
    top: 135px;
    padding: 10px;
    width: 200px;
    left: 535px;
    text-align: center;
 }

 div#cv > a{
    text-decoration: none;
    font: bolder 15pt arial;
    color: rgb(95, 24, 24)
 }

div#cv:hover {
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
    transition: transform .5s, border 1s;
    color: green;
}


div#info{
    font: normal 15pt black;
    width: 600px;
    height: 250px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.404);
    top: 215px;
    left: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.404);
}

div#exp{
    font: normal 15pt black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.404);
    width: 600px;
    height: 900px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.404);
    top: -50px;
    left: 640px;
}

div#exp > p, h2{
    padding: 10px;
}

div#exp h2 {
    color: rgb(109, 12, 12);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

h1{
    color: rgb(95, 24, 24);
    font: bolder 18pt arial;
    padding: 10px;
    text-align: center;
}

section{
    font: normal 15pt black;
    background-color: rgba(255, 255, 255, 0.404);
    position: relative;
    width: 600px;
    height: 300px;
    top: -400px;
    left: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.404);
}
table{
    width: 590px;
    height: 10px;
    border-collapse: collapse;
    
}
td, th{
    border: 1px solid black;
    padding: 8px;
    text-align: center; /* Alinhamento Horizontal*/
    vertical-align: middle;/* Alinhamento Vertical.*/
}

th{
    color: white;
    background-color: rgb(95, 24, 24);
}
tr:nth-child(odd) {
    background-color: rgba(163, 163, 163, 0.473);
}

div#comp{
    font: normal 15pt black;
    background-color: rgba(255, 255, 255, 0.404);
    position:relative;
    width: 600px;
    height: 280px;
    top: -570px;
    left: 640px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.404);
}
div#hab{
    font: normal 15pt black;
    background-color: rgba(255, 255, 255, 0.404);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.404);
    position:relative;
    width: 600px;
    height: 220px;
    top: -990px;
    left: 8px;
}

div#hob{
    font: normal 15pt black;
    background-color:rgba(255, 255, 255, 0.404);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.404);
    position:relative;
    width: 600px;
    height: 220px;
    top: -890px;
    left: 8px;
}

div#mfinal{
    font: normal 15pt black;
    background-color:rgba(255, 255, 255, 0.404);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.404);
    position:relative;
    width: 1230px;
    height: 200px;
    top: -770px;
    left: 8px;
}
 
div#mfinal > p {
padding: 10px;

}

footer{
width: 100vw;
text-align: center;
font: normal 15pt arial;
background-color: rgba(255, 255, 255, 0.404);
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.404);
}

